@import url(https://fonts.googleapis.com/css2?family=Aladin&display=swap);

* {
    width: 95%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Aladin", serif;
  }
  
  html, body, #root {
    background-color: #EFEFEF;
    height: 100%;
  } 